  <div class="mainpage-header">
    <div class="mainpage-header-left">
      <h1><%= link_to "Customer Management System", root_path, class: 'home-btn' %></h1>
      <div class="mainpage-header-left-contents">
      </div>
    </div>
    <div class="mainpage-header-right">
      <div class="mainpage-header-right-contents">
        <div class="right-content">
          <%= link_to "新規登録", new_registration_path(resource_name) %>
        </div>
        <div class="right-content">
          <%= link_to "ログイン", new_session_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
  
  <div class='account-page'>
    <div class="account-page__inner">
        <h2>新規ユーザー登録</h2>
        <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :氏名%>
          </div>
          <div class='field-input'>
            <%= f.text_field :氏名, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :eメール%>
          </div>
          <div class='field-input'>
            <%= f.email_field :eメール%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :パスワード, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワードの確認%>
          </div>
          <div class='field-input'>
            <%= f.password_field :パスワードの確認, autocomplete: "off"%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "新規登録", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>