<h1>顧客編集画面</h1>
<%= @customer.id %>
<br>
<%= @customer.family_name %>
<br>
<%= @customer.first_name %>
<br>
<%= @customer.family_name_kana %>
<br>
<%= @customer.first_name_kana %>
<br>
<%= @customer.birthday %>
<br>
<%= @customer.age %>
<br>
<%= @customer.postal_code %>
<br>
<%= @customer.address %>
<br>
<%= @customer.building_name %>
<br>
<%= @customer.phone_number %>
<br>
<%= @customer.email %>
<br>
<%= link_to 'ホームへ戻る', root_path %>