<h1>Customer Management Sysutem</h1>
<div>
  <%= current_user.name %>
</div>
<div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
</div>
<div>
  <%= link_to "新規顧客登録", new_customer_path, class: 'btn'%>
</div>


<%= search_form_for @c, url: search_customers_path do |f| %>
  <%= f.label :name, '顧客検索' %>
  <%= f.search_field :family_name_or_first_name_cont %>
  <%= f.submit '検索' %>
<% end %>

  <% @customer.each do |customer| %>
  <br>
  <li>
    <%= customer.family_name %>
    <%= customer.first_name %>
  </li>
  <% end %>
