<div class="mainpage">
  <%= render partial: "header"%>
  <div class="mainpage-under">

    <%# 検索サイドバー %>
  <% if user_signed_in? %>
    <div class="mainpage-sidebar">
      <h3>顧客検索条件</h3>
        <%= search_form_for @c, url: search_customers_path do |f| %>
        <div class="sidebar">
          <%= f.search_field :id_eq, placeholder:"ID" %>
        </div>
        <div class="sidebar">
          <%= f.search_field :family_name_or_first_name_or_family_name_kana_or_first_name_kana_cont, placeholder:"氏名" %>
        </div>
        <div class="sidebar">
          <%= f.search_field :address_cont, placeholder:"住所" %>
        </div>
        <div class="sidebar">
          <%= f.number_field :age_gteq, placeholder:"年齢" %><p>以上</P>
          <%= f.number_field :age_lt, placeholder:"年齢" %><p>未満</P>
        </div>
        <div class="">
          <%= f.label :性別 %>
          <div>
            <%= f.radio_button :gender_eq, '' %>指定なし
            <%= f.radio_button :gender_eq, '男' %>男
            <%= f.radio_button :gender_eq, '女' %>女
          </div>
        </div>
          <%= f.submit '検索', class: 'mainpage-btn' %>
        <% end %>
    </div>
    <%# //検索サイドバー %>

    <%# 検索結果 %>
    <div class="mainpage-contents">
      <div class="mainpage-tag">
        <div class="tagname-id">ID</div>
        <div class="tagname-name">氏名</div>
        <div class="tagname-address">住所</div>
        <div class="tagname-age">年齢</div>
        <div class="tagname-gender">性別</div>
        <div class="tagname"></div>
        <div class="tagname"></div>
      </div>
    </div>
    <%# //検索結果 %>
      <% else %>
    <div class='account-page'>
    <div class="account-page__inner">
        <h2>ご覧頂きありがとうございます</h2>
        <div class="inner">
        <p>このアプリは顧客を管理するアプリです</p>
        <p>営業時代にこんな機能があったらと感じたことを</p>
        <p>機能として盛り込みました</p>
        <p>随時機能は更新していきます</p>
        <p>是非ログインして機能をご覧ください</p>
        </div>
        <div class="account-btn">
          <%= link_to "新規登録", "/users/sign_up", class: 'btn' %>
        </div>
        <div class="account-btn">
          <%= link_to "ログイン", "/users/sign_in", class: 'btn' %>
        </div>
    </div>
  </div>
      <% end %>
  </div>

</div>
